{% extends "base.html.twig" %}


{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<h3>Nom complet</h3>
				<h3>Nom complet</h3>

				<h3>Nom complet</h3>

				<h3>Nom complet</h3>

				<h3>Nom complet</h3>
				<h3>Nom complet</h3>
				<h3>Nom complet</h3>

			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
	</div>

{% endblock %}
