<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style="margin-left:250px; margin-right: 250px">
		<section style="font-size: 13px;">
			<div style="float: left">
				<div>MINISTERE DE L'EDUCATION NATIONALE
					<br>ET DE L'ENSEIGNEMENT TECHNIQUE</div>
				<small style="margin-left: 80px;">----------------</small>
				<div>DIRECTION DES RESSOURCES HUMAINES</div>
				<div>BP 807 Abidjan 04 - tel: 20-21-90-47</div>
			</div>
			<div style="float: right">
				<div>REPUBLIQUE DE COTE D'IVOIRE</div>
				<small style="margin-left: 80px; margin-top: -100px;px">----------------</small>
				<div>Union - Discipline - Travail</div>
			</div>

			<div style="padding-top: 100px;">
				<center>
					<h1>DEMANDE DE PERMUTATION
						<br>
						ANNEE SCOLAIRE 2021/ 2022</h1>
				</center>

				<div>
					<strong></stro>NB: -Nul ne peut postuler en meme temps pour les INEAT, les EXEAT et les permutations.
					<br>
					<span style="margin-left: 2px;">-Toute demande d'EXEAT validée ne peut pas etre annulé</span>
				</strong>
			</div>
		</div>
	</body>
</html></section><section>
<h1>ENTRE</h1>
<div>
	<div style="float: left">
		<div>Nom et Prénoms</div>
		<div>Nom de jeune fille</div>
		<div>Emploi</div>
		<div>Direction Regionale</div>
		<div>Etablissement ou Service</div>
		<div>Discipline enseigné</div>
		<div>Fonction exercé</div>
	</div>
	<div style="float: right;margin-right: 100px">
		<div style="float:left">
			<div>Date de naissance</div>
			<div>Matricule</div>
		</div>

		<div style="margin-left: 100px;float: right">
			<div>.......</div>
			<div>.......</div>
		</div>
	</div>

</div>
<div>
	<div style="margin-left: 250px">
		<div>{{ title}}</div>
		<div>.......</div>
		<div>Instituteur</div>
		<div>..................</div>
		<div>.............</div>
		<div>Enseignant</div>
		<div>.......</div>

	</div>


</div></section><section>
<h1>ET</h1>
<div>
	<div>Nom et Prénoms</div>
	<div>Nom de jeune fille</div>
	<div>Emploi</div>
	<div>Direction Regionale</div>
	<div>Etablissement ou Service</div>
	<div>Discipline enseigné</div>
	<div>Fonction exercé</div>
	<div>Date de naissance</div>
	<div>Matricule</div>
</div>
<div>
	<div>.......</div>
	<div>.......</div>
	<div>Instituteur</div>
	<div>..................</div>
	<div>.............</div>
	<div>Enseignant</div>
	<div>.......</div>
	<div>.......</div>
</div></section></body></html>
